.base {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--dark-20);
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;

  &:focus {
    border-color: var(--primary-10);
    outline: none !important;
  }
  &:disabled {
    background-color: var(--light-30);
    border-color: var(--dark-20);
    color: var(--light-10);
  }
}

.error {
  border-color: var(--utility-10);
}
